table.dashboard {
    margin-top: 6em
}

#body>table.dashboard {
    margin-top: inherit
}

/* Dashboard sliders */
.ui-slider-handle {
  padding-top: 15px;
  padding-bottom: 5px;
}

.width-slider {
  margin-top: 10px;
  padding-top: 15px;
  padding-bottom 15px;
}

.input-group > .input-group-prepend > .input-group-text {
  margin-top: 15px;
  background-color: #fff;
  border: none;
}

.form-group > .input-group > .form-control {
  margin-top: 15px;
  border-radius: .25rem;
  width: 50px;
}
